In [1]:
from common_methods import *

In [ ]:
from django.contrib.contenttypes.models import ContentType
from django_import.models import ImportJob

In [ ]:
link_details = pd.read_csv("/Users/timdunn/okru_extra.csv")

In [ ]:
link_details

In [ ]:
def get_doct_dict(df):
    sub_columns = [column.split("_")[0] for column in df.columns if "_" in column]
    doc_dict = dict()
    for col in np.unique(sub_columns):
        column_list = [column for column in df.columns if column.split("_")[0] == col]
        doc_dict = {**doc_dict, **{col:column_list}}
    return doc_dict

In [ ]:
def convert_df_for_okru(df):
    doc_dict = get_doct_dict(df)
    excluded_columns = flatten([doc_dict.get(key) for key in doc_dict.keys() if key in 
                                ['formats', 'thumbnails', 'automatic', 'channel', 'chapters', 'http', 'tags']])
    columns = [column for column in df.columns if column not in excluded_columns]
    df = df.loc[:, columns]
    subtitle_df = create_subtitles_csv(df, doc_dict)
    subtitle_df.to_csv("/Users/timdunn/subtitles.csv", index=False)
    columns = [column for column in df.columns if column not in doc_dict.get('subtitles')]
    return reset_and_copy(df.loc[:, columns])

In [ ]:
def create_subtitles_csv(df, doc_dict):
    subtitle_columns = [col for col in doc_dict['subtitles'] if '_url' in col]
    columns = flatten([['id'], doc_dict['subtitles']])
    df = df.loc[:, columns]
    dfs = []
    for col in subtitle_columns:
#         print(col)
        new_df = reset_and_copy(df.loc[~df[col].isnull(), ['id', col]])
        _, language, _, ext = col.split("_")
        new_df['url'] = new_df[col]
        new_df['language_code'] = language
        new_df['ext'] = df[re.sub("_url", "_ext", col)]
        new_df = reset_and_copy(new_df.loc[:, ['id', 'language_code', ext]])
        dfs.append(new_df)
    return reset_and_copy(pd.concat(dfs))

In [2]:
imdb_basic_columns = ["tcosnt", "title_type", "primary_title", 
                      "original_title", "is_adult", "start_year", "end_year", "runtime_minutes"]

In [ ]:
foreign_imdb_columns = ["genre"]

In [3]:
from all_processes.update_movie_data import UpdateMovieData

In [4]:
imdb_basic_file = UpdateMovieData().main_movie_file(limited_cols=False)

In [5]:
def map_basic_file_columns(basic_file):
    cols_to_remove = list()
    for col in basic_file.columns:
        if camel_to_snake(col) != col:
            cols_to_remove.append(col)
            basic_file[camel_to_snake(col)] = basic_file[col]
    return basic_file.drop(cols_to_remove, axis=1)

In [6]:
imdb_right_cols = map_basic_file_columns(imdb_basic_file)

In [19]:
extra_imdb_data = pd.read_csv('/Users/timdunn/Desktop/extra_data_imdb.csv')

In [52]:
box_office_cols = [column for column in extra_imdb_data.columns if 'box office_Opening' in column]
countries_columns = [column for column in extra_imdb_data.columns if 'countries_' in column]
country_code_columns = [column for column in extra_imdb_data.columns if 'country' in column]
excluded_columns = flatten([box_office_cols, countries_columns, country_code_columns])

In [53]:
good_cols = [column for column in extra_imdb_data.columns if column not in excluded_columns]

In [54]:
len(good_cols)

155

In [ ]:
# things to do
#1 certificates
#2 sound mixes
#3 videos
#4 keywords

In [55]:
good_cols

['original air date',
 'tconst',
 'language',
 'color',
 'score',
 'keywords',
 'videos',
 'poster',
 'sound mix_1',
 'certificates_1',
 'certificates_2',
 'plot outline',
 'certificates_3',
 'certificates_4',
 'certificates_5',
 'certificates_6',
 'aspect ratio',
 'box office_Budget',
 'production status',
 'production status updated',
 'sound mix_2',
 'sound mix_3',
 'sound mix_4',
 'certificates_7',
 'certificates_8',
 'certificates_9',
 'certificates_10',
 'certificates_11',
 'certificates_12',
 'certificates_13',
 'certificates_14',
 'certificates_15',
 'certificates_16',
 'certificates_17',
 'certificates_18',
 'certificates_19',
 'certificates_20',
 'certificates_21',
 'certificates_22',
 'certificates_23',
 'certificates_24',
 'certificates_25',
 'certificates_26',
 'certificates_27',
 'certificates_28',
 'certificates_29',
 'certificates_30',
 'certificates_31',
 'certificates_32',
 'certificates_33',
 'certificates_34',
 'certificates_35',
 'certificates_36',
 'certificates_37',
 'certificates_38',
 'certificates_39',
 'certificates_40',
 'certificates_41',
 'certificates_42',
 'certificates_43',
 'certificates_44',
 'certificates_45',
 'box office_Cumulative Worldwide Gross',
 'number of episodes',
 'previous episode',
 'next episode',
 'season',
 'episode',
 'certificates_46',
 'certificates_47',
 'certificates_48',
 'certificates_49',
 'certificates_50',
 'certificates_51',
 'certificates_52',
 'sound mix_5',
 'sound mix_6',
 'sound mix_7',
 'certificates_53',
 'certificates_54',
 'certificates_55',
 'certificates_56',
 'sound mix_8',
 'bottom 100 rank',
 'certificates_57',
 'top 250 rank',
 'sound mix_9',
 'certificates_58',
 'sound mix_10',
 'sound mix_11',
 'sound mix_12',
 'sound mix_13',
 'sound mix_14',
 'sound mix_15',
 'sound mix_16',
 'sound mix_17',
 'sound mix_18',
 'sound mix_19',
 'sound mix_20',
 'sound mix_21',
 'certificates_59',
 'certificates_60',
 'number of seasons',
 'seasons_1',
 'certificates_61',
 'certificates_62',
 'certificates_63',
 'certificates_64',
 'certificates_65',
 'certificates_66',
 'certificates_67',
 'certificates_68',
 'certificates_69',
 'certificates_70',
 'certificates_71',
 'certificates_72',
 'certificates_73',
 'certificates_74',
 'certificates_75',
 'certificates_76',
 'certificates_77',
 'certificates_78',
 'certificates_79',
 'certificates_80',
 'certificates_81',
 'certificates_82',
 'certificates_83',
 'certificates_84',
 'certificates_85',
 'certificates_86',
 'certificates_87',
 'certificates_88',
 'certificates_89',
 'certificates_90',
 'certificates_91',
 'certificates_92',
 'certificates_93',
 'certificates_94',
 'certificates_95',
 'certificates_96',
 'certificates_97',
 'certificates_98',
 'certificates_99',
 'certificates_100',
 'certificates_101',
 'certificates_102',
 'certificates_103',
 'certificates_104',
 'certificates_105',
 'certificates_106',
 'certificates_107',
 'certificates_108',
 'certificates_109',
 'seasons_2',
 'seasons_3']

In [31]:
def get_country(col):
    return col.split('box office_Opening Weekend ')[-1]

In [38]:
def transform_country_data(row, cols):
    return [{"country": get_country(col), 'tconst': row['tconst'], 
             'amount': row[col]} for col in cols if not pd.isnull(row[col])]

In [40]:
def get_country_csv(df):
    box_office_cols = [column for column in extra_imdb_data.columns if 'box office_Opening' in column]
    data = flatten(df.apply(lambda row: transform_country_data(row, box_office_cols), axis=1))
    return pd.DataFrame(data=data)

In [45]:
def country_and_codes(df):
    countries_columns = [column for column in extra_imdb_data.columns if 'countries_' in column]
    data = flatten(df.apply(lambda row: transform_country_code_data(row, countries_columns), axis=1))
    return pd.DataFrame(data=data)

In [64]:
def certificates(df):
    certificate_columns = [column for column in extra_imdb_data.columns if 'certificates' in column]
    data = flatten(df.apply(lambda row: transform_certificate_data(row, certificate_columns), axis=1))
    return pd.DataFrame(data=data)

In [79]:
def get_cert_dict(row, col):
    country = None
    version = None
    extra_info = None
    if ":" in row[col]:
        col_splits = row[col].split(':')
        country = col_splits[0]
        certificate = col_splits[1]
        if len(col_splits) > 3:
            version = col_splits[3]
            if len(col_splits) > 4:
                extra_info = ":".join(col_splits[4:])
    else:
        certificate = row[col]
    return {'certificate': certificate, 'country': country, 'version': version, 'extra_info': extra_info}

In [67]:
def transform_certificate_data(row, cols):
    return [{**{'tconst': row['tconst']}, **get_cert_dict(row, col)} for col in cols if not pd.isnull(row[col])]

In [47]:
def get_country_code_col(col):
    country_number = col.split('countries_')[-1]
    return f'country codes_{country_number}'

In [48]:
def transform_country_code_data(row, cols):
    return [{"name": row[col], 'tconst': row['tconst'], 
             'code': row[get_country_code_col(col)]} for col in cols if not pd.isnull(row[col])]

In [49]:
country_df = country_and_codes(extra_imdb_data)

In [80]:
certificates_df = certificates(extra_imdb_data)

In [85]:
certificates_df.drop(['extra_info'], axis=1).to_csv('/Users/timdunn/Desktop/imdb_latest/certificates.csv', index=False)

In [20]:
extra_imdb_data

,countries_1,country codes_1,original air date,tconst,language,color,score,keywords,videos,poster,...,country codes_67,country codes_68,country codes_69,country codes_70,country codes_71,country codes_72,box office_Opening Weekend Nigeria,box office_Opening Weekend Iceland,box office_Opening Weekend Yemen,box office_Opening Weekend Kyrgyzstan
0,Italy,it,25 Jul 2010 (Italy),tt1863303,Italian,Color::(Super 16mm),6.899864,no keywords,NaN,https://m.media-amazon.com/images/M/MV5BZWUxMm...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,West Germany,xwg,27 Jan 1965 (West Germany),tt4522440,German,Black and White,0.000000,no keywords,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bulgaria,bg,01 Apr 2021 (Bulgaria),tt12182770,Bulgarian,Color,0.000000,jungle,NaN,https://m.media-amazon.com/images/M/MV5BZTcyOD...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United States,us,09 Oct 1894 (USA),tt0000009,None,Black and White,6.896743,"character-name-as-title,two-word-title,nicknam...",NaN,https://m.media-amazon.com/images/M/MV5BNTUwNz...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,India,in,15 Jan 1992 (India),tt0318531,Tamil,NaN,6.899982,no keywords,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771131,United States,us,Mar 2019 (USA),tt9903366,English,Color,6.897403,commercial,NaN,https://m.media-amazon.com/images/M/MV5BNWI2N2...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
771132,United States,us,NaN,tt9903384,English,NaN,0.000000,based-on-book,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
771133,United Kingdom,gb,NaN,tt9903408,English,NaN,0.000000,boy,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
771134,NaN,NaN,NaN,tt9903418,NaN,NaN,0.000000,no keywords,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
771135,NaN,NaN,2012 (Belgium),tt9903496,NaN,Color,0.000000,no keywords,NaN,https://m.media-amazon.com/images/M/MV5BM2YyMG...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
def get_genre_data(row):
    if row["genres"] != "\\N":
        return [{"name": genre, "ordering": index+1, "tconst": row["tconst"]} 
                for index, genre in enumerate(row['genres'].split(','))]
    else:
        return []

In [16]:
def get_genre_df(imdb_df):
    genre_data = flatten(imdb_df.apply(lambda row: get_genre_data(row), axis=1))
    df = pd.DataFrame(data=genre_data)
    return reset_and_copy(df.loc[~df['name'].isnull()])

In [17]:
genre_df = get_genre_df(imdb_right_cols)

In [18]:
genre_df

                name  ordering     tconst
0            Romance         1  tt0000009
1        Documentary         1  tt0000147
2               News         2  tt0000147
3              Sport         3  tt0000147
4             Action         1  tt0000574
...              ...       ...        ...
1451166  Documentary         1  tt9916622
1451167  Documentary         1  tt9916680
1451168        Drama         1  tt9916692
1451169       Comedy         1  tt9916706
1451170  Documentary         1  tt9916754

[1451171 rows x 3 columns]

In [7]:
imdb_right_cols

,tconst,genres,title_type,primary_title,original_title,is_adult,start_year,end_year,runtime_minutes
0,tt0000009,Romance,movie,Miss Jerry,Miss Jerry,0,1894,\N,45
1,tt0000147,"Documentary,News,Sport",movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100
2,tt0000502,\N,movie,Bohemios,Bohemios,0,1905,\N,100
3,tt0000574,"Action,Adventure,Biography",movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70
4,tt0000591,Drama,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90
...,...,...,...,...,...,...,...,...,...
1050232,tt9916680,Documentary,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100
1050233,tt9916692,Drama,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,\N,66
1050234,tt9916706,Comedy,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N
1050235,tt9916730,\N,movie,6 Gunn,6 Gunn,0,2017,\N,116
1050236,tt9916754,Documentary,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49

In [ ]:
okru_links.loc[~okru_links['subtitles_fr_1_url'].isnull(), ['id', 'subtitles_fr_6_url']]

In [ ]:
df = convert_df_for_okru(okru_links)

In [ ]:
needed_columns = ["webpage_url", "fps", "width", "height", "fulltitle"]

In [ ]:
link_details = link_details.loc[:, needed_columns]

In [ ]:
link_details = real_links_conversion(link_details)

In [ ]:
link_details.compute()

In [ ]:
real_columns = ["link_url", "fps", "quality", "fulltitle"]

In [ ]:
def get_quality(width, height):
    if not pd.isnull(width) and not pd.isnull(height):
        return f'{int(width)} x {int(height)}'
    return width

In [ ]:
def real_links_conversion(df):
    df["link_url"] = df["webpage_url"]
    df["quality"] = df.apply(lambda row: get_quality(row['width'], row['height']), axis=1)
    return reset_and_copy(df.loc[:, ["link_url", "fps", "quality", "fulltitle"]])

In [ ]:
df = real_links_conversion(okru_links)

In [ ]:
vals = okru_links.loc[0:1, ['width', 'height']]

In [ ]:
pd.isnull(vals['width'][1])

In [ ]:
df.loc[:10, ['width', 'height']].apply(lambda row: get_quality(row['width'], row['height']), axis=1)

In [ ]:
real_df = real_links_conversion(okru_links)

In [ ]:
df.loc[:, needed_columns]

In [ ]:
def get_type(string):
    try:
        int(string)
        return int
    except:
        return str

In [ ]:
okru_links = link_details.loc[link_details['id'].apply(get_type) == int]

In [ ]:
okru_links

In [ ]:
np.unique(link_details.loc[~link_details['subtitles_ru_1_url'].isnull(), 'subtitles_ru_1_url'])

In [ ]:
def set_dict(param, value):
    return dict(param=value)

In [ ]:
class Something:
    
    def __init__(self, var):
        self.var = var
        
    def get_var(self):
        return self.var

In [ ]:
everything = everything.loc[everything['tconst'] == 'tt0119081']

In [ ]:
everything

In [ ]:
for item in everything.loc[everything['tconst'] == 'tt0245674', 'new link url']:
    print(item)

In [ ]:
def remove_quote(string):
    return re.sub('"', '', string)

In [ ]:
def characters_from_principle(row):
    removed_array_starting_bracket = row["characters"].split("[")[1]
    removed_array_ending_bracket = removed_array_starting_bracket.split("]")[0]
    return [remove_quote(character) for character in removed_array_ending_bracket.split(',')]